<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--    相機權限-->
    <uses-permission android:name="android.permission.CAMERA" />
<!--    這個 App 可以使用相機，但不是必需的-->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

<!--    map權限-->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--找到使用者定位的權限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FruitApp"

        tools:targetApi="31">

        <!--    map金鑰-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuEoMZPDV9xWY1F7-ghm_xYG9X-uvhpWc" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FruitApp">
        </activity>
    </application>

</manifest>


